* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
background-color: #c3e0f7;
padding-top: 50px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 36px;
    margin-right: 16px;    
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: inline-flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;    
}

form input {
    font-size: 18px;
    background-color: #fff;
    border: 5px solid #c3e0f7;    
    padding: 8px;
}

form img {
    display: flex;
    height: 48px;
    margin-top: 5px;
    background-color: #4260e6;
    padding: 2px;
}

form button {
    background-color: #4260e6;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    border: 5px solid #c3e0f7;
    cursor: pointer;
    padding: 8px;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}
table td {
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table button {
    border: none;
    background-color: #c3e0f7;
    cursor: pointer;
    padding:none;
}

table td img {
    height: 25px;
}


